#dev
BASE_URL="http://localhost:4000"
CALLBACK_URL="http://localhost:3000/auth/callback"
DB_NAME="Dev"

#PROD_ENV_VARS
BASE_URL="https://api.greasygang.co"
CALLBACK_URL="https://greasygang.co/auth/callback"
DB_NAME="Prod"

#BETA_ENV_VARS
BASE_URL="https://beta-api.greasygang.co"
CALLBACK_URL="https://beta.greasygang.co/auth/callback"
DB_NAME="Beta"

#ENV_VARS
DB_HOST="localhost"
DB_USER=""
DB_PASS=""

JWT_SECRET=""

TWITCH_CLIENT_ID=""
TWITCH_CLIENT_SECRET=""

DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
